<section>
   <div class="container pmw centre-pane">
    <div class="l-form">
      <h5>Title</h5>
      <p class="editable border rounded p5" contenteditable="true" id="newCategoryTitle" data-placeholder="Enter a job title"></p>
    </div>
    <div class="r-form">
      <h5>Image</h5>
      <div><img id="img-preview"></img></div>
      <button id="upload_widget" class="cloudinary-button">Upload files</button>
    </div>
    <div class="l-form">
      <h5>Description</h5>
      <p class="editable border rounded p5" contenteditable="true" id="newCategoryDescription" data-placeholder="What job do you need doing?... Write a description here."></p>
    </div>
    
    <div class="row mt-5 clbt">
      <button class="button btn-primary align-center btn" id="createCategory">Submit</button>
    </div>

  </div>

</section>

<script src="/js/createCategory.js"></script>
