<div class="row justify-content-around mt-5 mx-auto">
<img src={{item.image}} class="lg-item col-6" />
<aside class="col-5">
    <h3>{{item.title}}</h3>
    <p>{{item.description}}</p>
</aside>
</div>